body {
  font-size: 12px;
  display: grid;
  justify-content: center;
}

#senatorSimilarity {
  width: 80vw;
  padding-top: 5vh;
}

.senators {
  cursor: pointer;
}

.jaroheadernum {
  font-weight: bold;
  font-size: 14px;
}

.jaroheader {
  font-size: 14px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

#senatorForm {
  display: grid;
  justify-content: end;
}

#myModal[aria-hidden="true"] {
  display: none;
}
